.article-card{
    background: var(--bg-primary);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(mb) {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    // Thumbnail
    img{
        height:auto; 
        border-radius: 8px;
        margin: 0px 32px 0px 0px;

        @include media-breakpoint-down(mb) {
            width: 100%;
            margin: 0px 0px 16px 0px;
        }
    }

    // Text block
    &__text{
        padding-left: 32px;
        //padding: 0px 32px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-down(mb) {
            align-items: flex-start;
            margin-top: 16px;
        }
    }
}

// Hover effects on article cards
div.article-card:hover{
    cursor: pointer;

    h3 {
        color: var(--accent);
    }
}