.article-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    :hover{
        background-color: var(--bg-secondary);
    }

    &__thumbnail{
        
    }

    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}