.article-card{
    background: var(--bg-primary);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    // Thumbnail
    img{
        height:auto; 
        border-radius: 8px;
    }

    // Text block
    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

// Hover effects on article cards
div.article-card:hover{
    cursor: pointer;

    h3 {
        color: var(--accent);
    }
}