//-- Page wide styling
body {
    background-color: var(--bg-primary);
}
h1 {
    color: var(--text-primary);
}
p {
    color: var(--text-secondary);
}

//-- Header
.header {
  
    //__ Header avatar
    &__avatar {
        border-radius: 50%;
    }
}