// Default colors
body {
  --accent: #{$tiffany};
  --text-primary: #{$memory-lane};
  --text-secondary: #{$grouse};
  --bg-primary: #{$ink};
  --bg-secondary: #{$lead};
  --icon-primary: #{$memory-lane}; 
}

// Setting theme per user OS preference
// Dark mode
@media (prefers-color-scheme: dark) {
  body {
    --accent: #{$tiffany};
    --text-primary: #{$memory-lane};
    --text-secondary: #{$grouse};
    --bg-primary: #{$ink};
    --bg-secondary: #{$lead};
    --icon-primary: #{$memory-lane}; 
  }
}

// Light mode
@media (prefers-color-scheme: light) {
  body {
    --accent: #{$tiffany};
    --text-primary: #{$vulcan};
    --text-secondary: #{$bunker};
    --bg-primary: #{$spring-rain};
    --bg-secondary: #{$white};
    --icon-primary: #{$bunker};
  }
}

//handling theme transition gracefully
* {
  transition: all .15s ease;
}