//single scss file to control color switching for different themes
//by default dark theme will be selected
:root {
    --accent: #{$tiffany};
    --text-primary: #{$memory-lane};
    --text-secondary: #{$grouse};
    --bg-primary: #{$ink};
    --bg-secondary: #{$lead};
    --icon-primary: #{$memory-lane};
    --divider: #{rgba(255, 255, 255, 0.1)};
}

.light {
    --accent: #{$tiffany};
    --text-primary: #{$vulcan};
    --text-secondary: #{$bunker};
    --bg-primary: #{$spring-rain};
    --bg-secondary: #{$white};
    --icon-primary: #{$bunker};
    --divider: #{rgba(0, 0, 0, 0.08)};
}


//handling theme transition gracefully
* {
    transition: all .15s ease;
  }